.circle {
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.olives {
  position: absolute;
  border: solid 1.2vh black;
  width: 3vh;
  height: 3vh;
  top: 10vh;
  left: -12vh;
}

.olives:before {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 5vh;
  left: 23vh;
}

.olives:after {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 13vh;
  left: 3vh;
}

.olives2 {
  position: absolute;
  border: solid 1.2vh black;
  width: 3vh;
  height: 3vh;
  top: 40vh;
  left: -12vh;
}

.olives2:before {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 5vh;
  left: 23vh;
}

.olives2:after {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 13vh;
  left: 3vh;
}

.olives3 {
  position: absolute;
  border: solid 1.2vh black;
  width: 3vh;
  height: 3vh;
  top: 26vh;
  left: -39vh;
}

.olives3:before {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 5vh;
  left: 28vh;
}

.olives3:after {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 15vh;
  left: -3vh;
}

.olives4 {
  position: absolute;
  border: solid 1.2vh black;
  width: 3vh;
  height: 3vh;
  top: 13vh;
  left: -34vh;
}

.olives4:before {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 5vh;
  left: 23vh;
}

.olives4:after {
  content: '';
  position: absolute;
  border: solid 1.2vh black;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  top: 29vh;
  left: 23vh;
}