.olives {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 280px;
    top: 40px;
}

.olives:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: -350%;
    top: 350%;
}

.olives:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 350%;
    top: 400%;
}

.olives2 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 45%;
    top: 180%;
}

.olives2:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: -350%;
    top: 350%;
}

.olives2:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 350%;
    top: 370%;
}

.olives3 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 20%;
    top: 170%;
}

.olives3:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 300%;
    top: -476%;
}

.olives3:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 1400%;
    top: 130%;
}

.olives4 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: 70%;
    top: 110%;
}

.olives4:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: -1440%;
    top: -226%;
}

.olives4:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 10px black;
    left: -540%;
    top: 130%;
}