.circle {
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
.pepperoni {
    position: absolute;
    background-color: #c5402f;
    width: 8vh;
    height: 8vh;
    top: 12vh;
    left: 12vh;
  }
  
  .pepperoni:before {
    content: '';
    position: absolute;
    background-color: #c5402f;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    top: 3vh;
    left: -21vh;
  }
  
  .pepperoni:after {
    content: '';
    position: absolute;
    background-color: #c5402f;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    top: 33vh;
    left: -2vh;
  }
  
  .pepperoni2 {
    position: absolute;
    background-color: #c5402f;
    width: 8vh;
    height: 8vh;
    top: 30vh;
    left: 1vh;
  }
  
  .pepperoni2:before {
    content: '';
    position: absolute;
    background-color: #c5402f;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    top: 3vh;
    left: -21vh;
  }
  
  .pepperoni2:after {
    content: '';
    position: absolute;
    background-color: #c5402f;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    top: 2vh;
    left: 22vh;
  }
  
  .pepperoni3 {
    position: absolute;
    background-color: #c5402f;
    width: 8vh;
    height: 8vh;
    top: 25vh;
    left: -20vh;
  }
  
  .pepperoni3:before {
    content: '';
    position: absolute;
    background-color: #c5402f;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    top: 23vh;
    left: -1vh;
  }
  
  .pepperoni3:after {
    content: '';
    position: absolute;
    background-color: #c5402f;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    top: -5vh;
    left: 32vh;
  }