
.circle {
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  #big_circle {
    background-color: #dc9732;
    width: 70vh;
    height: 70vh;
  }

  #small_circle {
    background-color: #cb8621;
    width: 65vh;
    height: 65vh;
    margin: 2.5vh;
  }