<h1 class="text-center">Pizza Builder Angular App</h1>

<div class="row" style="padding-top: 50px"> 
  <div class="col-md-6">
      <div class="container text-center">
          <h1>Menu:</h1>
          <form>
            <div class="form-group">
                <input [(ngModel)]="thincrust" name="thincrust" type="checkbox" id="thincrust" > Thin Crust <br>
                <input [(ngModel)]="thickcrust" name="thickcrust" type="checkbox" id="thickcrust" > Thick Crust <br>
                <input [(ngModel)]="sauce" name="sauce" type="checkbox" id="sauce" > Sauce <br>
                <input [(ngModel)]="cheese" name="cheese" type="checkbox" id="cheese" > Cheese <br>
                <input [(ngModel)]="pepperoni" name="pepperoni" type="checkbox" id="pepperoni" > Pepperoni <br>
                <input [(ngModel)]="olives" name="olives" type="checkbox" id="olives" > Olives <br>
                <input [(ngModel)]="bacon" name="bacon" type="checkbox" id="bacon" > Bacon <br>
                <input [(ngModel)]="onions" name="onions" type="checkbox" id="onions" > Onions <br>
                <input [(ngModel)]="greenonions" name="green-onions" type="checkbox" id="green-onions" > Green Onions <br>
                <input [(ngModel)]="ham" name="ham" type="checkbox" id="ham" > Ham <br>
            </div>
          </form>
        </div>
  </div>
  <div class="col-md-6 text-center">
    <h2>Pizza Will <br>Display Here</h2>
    <thick-outer-crust *ngIf="thickcrust && !thincrust"></thick-outer-crust>
    <thin-outer-crust *ngIf="thincrust && !thickcrust"></thin-outer-crust>
    <app-sauce  *ngIf="sauce"></app-sauce>
    <app-cheese *ngIf="cheese"></app-cheese>
    <app-pepperoni *ngIf="pepperoni"></app-pepperoni>
    <app-ham *ngIf="ham"></app-ham>
    <app-bacon *ngIf="bacon"></app-bacon>
    <app-onions *ngIf="onions"></app-onions>
    <app-olives *ngIf="olives"></app-olives>
    <app-green-onions *ngIf="greenonions"></app-green-onions>
    
</div>
</div>

