<h1 class="text-center">Pizza Builder Angular App</h1>

<div class="row" style="padding-top: 50px"> 
  <div class="col-md-6">
      <div class="container text-center">
          <h1>Menu:</h1>
          <form #f="ngForm" (ngSubmit)="submit(f)">
            <div class="form-group">
                <input #small="ngModel" ngModel name="small" type="radio" id="small"> Small <br>
                <input #medium="ngModel" ngModel name="medium" type="radio" id="medium"> Medium <br>
                <input #large="ngModel" ngModel name="large" type="radio" id="large"> Large <br>
                <input #xl="ngModel" ngModel name="xl" type="radio" id="xl"> X-large <br>
                <input #thincrust="ngModel" ngModel name="thincrust" type="checkbox" id="thincrust" [disabled]="isThick(thickcrust.value)"> Thin Crust <br>
                <input #thickcrust="ngModel" ngModel  name="thickcrust" type="checkbox" id="thickcrust" [disabled]="isThin(thincrust.value)"> Thick Crust <br>
                <input #sauce="ngModel" ngModel name="sauce" type="checkbox" id="sauce" > Sauce <br>
                <input #cheese="ngModel" ngModel name="cheese" type="checkbox" id="cheese" > Cheese <br>
                <input #pepperoni="ngModel" ngModel name="pepperoni" type="checkbox" id="pepperoni" > Pepperoni <br>
                <input #olives="ngModel" ngModel name="olives" type="checkbox" id="olives" > Olives <br>
                <input #bacon="ngModel" ngModel name="bacon" type="checkbox" id="bacon" > Bacon <br>
                <input #onions="ngModel" ngModel name="onions" type="checkbox" id="onions" > Onions <br>
                <input #greenonions="ngModel" ngModel name="green-onions" type="checkbox" id="green-onions" > Green Onions <br>
                <input #ham="ngModel" ngModel name="ham" type="checkbox" id="ham" > Ham <br>
                <input #pineapple="ngModel" ngModel name="pineapple" type="checkbox" id="pineapple" > Pineapple <br>
                <input #sausage="ngModel" ngModel name="sausage" type="checkbox" id="sausage" > Sausage <br>
                {{message}}
            </div>

            <button type="submit" [disabled]="hasCrust(thincrust.value,thickcrust.value)">Place Order </button>
          </form>
        </div>
  </div>
  <div class="col-md-6 text-center">
    <h2 *ngIf="thincrust._parent.pristine">Pizza Will <br>Display Here</h2>
    <thick-outer-crust *ngIf="!thincrust.value && thickcrust.value"></thick-outer-crust>
    <thin-outer-crust *ngIf="thincrust.value && !thickcrust.value"></thin-outer-crust>
    <app-sauce  *ngIf="sauce.value"></app-sauce>
    <app-cheese *ngIf="cheese.value"></app-cheese>
    <app-pepperoni *ngIf="pepperoni.value"></app-pepperoni>
    <app-ham *ngIf="ham.value"></app-ham>
    <app-bacon *ngIf="bacon.value"></app-bacon>
    <app-sausage *ngIf="sausage.value"></app-sausage>
    <app-onions *ngIf="onions.value"></app-onions>
    <app-olives *ngIf="olives.value"></app-olives>
    <app-pineapple *ngIf="pineapple.value"></app-pineapple>
    <app-green-onions *ngIf="greenonions.value"></app-green-onions>
    
</div>
</div>

